force-app/main/default/flows/Add_Dividend.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Screen_Div</name>
        <label>Add Screen Div</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UpdatedDividendVal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dividend</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Div_val</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Add Dividend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Dividend</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Script_Record</name>
        <label>Get Script Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Screen_Div</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Div_val</name>
        <label>Update Div val</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Successfully_Added_Diivdends</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Script_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dividend__c</field>
            <value>
                <elementReference>UpdatedDividendVal</elementReference>
            </value>
        </inputAssignments>
        <object>Script__c</object>
    </recordUpdates>
    <screens>
        <name>Add_Dividend</name>
        <label>Add Dividend</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Script_Record</targetReference>
        </connector>
        <fields>
            <name>Dividend</name>
            <dataType>Currency</dataType>
            <fieldText>Dividend</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Dividend should be more than zero.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Dividend} &gt; 0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Add</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Added_Diivdends</name>
        <label>Successfully Added Diivdends</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Dividend</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedDividendVal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Script_Record.Dividend__c</elementReference>
        </value>
    </variables>
</Flow>
