force-app/main/default/flows/Script_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_sell_qty_val</name>
        <label>set sell qty val</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>screensellqty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sell_Qty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Investment_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_sell_qty_val</name>
        <label>update sell qty val</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>screensellqty</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>invest_records_loop.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invest_records_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>invest_record_decision</name>
        <label>invest record decision</label>
        <locationX>528</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>cloning_inv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>qty more than sell qty</defaultConnectorLabel>
        <rules>
            <name>equals_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invest_records_loop.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>screensellqty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_inv_rec</targetReference>
            </connector>
            <label>equals to</label>
        </rules>
        <rules>
            <name>greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invest_records_loop.Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>screensellqty</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_inv_rec</targetReference>
            </connector>
            <label>qty less than sell qty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>remainingQtyHoldinginInv</name>
        <dataType>Number</dataType>
        <expression>{!invest_records_loop.Quantity__c}-{!screensellqty}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Script Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Script Flow</label>
    <loops>
        <name>invest_records_loop</name>
        <label>invest records loop</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>Investment_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>invest_record_decision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cloning_inv</name>
        <label>cloning inv</label>
        <locationX>792</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_rem_hold_qty_in_inv</targetReference>
        </connector>
        <inputAssignments>
            <field>Buy_Date__c</field>
            <value>
                <elementReference>invest_records_loop.Buy_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buy_Price__c</field>
            <value>
                <elementReference>invest_records_loop.Buy_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>screensellqty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Script__c</field>
            <value>
                <elementReference>invest_records_loop.Script__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_Date__c</field>
            <value>
                <elementReference>Sell_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_Price__c</field>
            <value>
                <elementReference>Sell_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Script_record</name>
        <label>Get Script record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sell_Investment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Script__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Investment_records</name>
        <label>Investment records</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invest_records_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Script__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Script_record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Holding__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investment__c</object>
        <sortField>Buy_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_inv_rec</name>
        <label>Copy 1 of update inv rec</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>update_sell_qty_val</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invest_records_loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sell_Date__c</field>
            <value>
                <elementReference>Sell_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_Price__c</field>
            <value>
                <elementReference>Sell_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_inv_rec</name>
        <label>update inv rec</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invest_records_loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sell_Date__c</field>
            <value>
                <elementReference>Sell_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sell_Price__c</field>
            <value>
                <elementReference>Sell_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_rem_hold_qty_in_inv</name>
        <label>Update rem hold qty in inv</label>
        <locationX>792</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>invest_records_loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>remainingQtyHoldinginInv</elementReference>
            </value>
        </inputAssignments>
        <object>Investment__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Success</name>
        <label>Copy 1 of Success</label>
        <locationX>792</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Success_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Success!!!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sell_Investment</name>
        <label>Sell Investment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>set_sell_qty_val</targetReference>
        </connector>
        <fields>
            <name>Sell_Qty</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Script_record.Qty_Holding__c</elementReference>
            </defaultValue>
            <fieldText>Sell Qty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Sell Quantity is more than {!Get_Script_record.Qty_Holding__c} (Quantity Holding).&lt;/p&gt;</errorMessage>
                <formulaExpression>( {!Sell_Qty} &lt;= {!Get_Script_record.Qty_Holding__c} ) 
&amp;&amp; ( {!Sell_Qty} &gt; 0 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sell_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Sell Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Sell_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Sell Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Sell</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Success!!!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Script_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>screensellqty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
